a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        max-width: 800px;
        height: 100vh;
        color: white;
        background: black;
        overflow-y: hidden;
    }
}


.show_slowly {
    transition: opacity 1s ease-out;

    animation: show_content 300ms;

}

@keyframes show_content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}